{% extends 'base.html' %}

{% block pageCss %}
<link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/contatos.css')}}">
{% endblock %}

{% block pageTtile %} Homepage {% endblock %}

{% block pageContent %}

<section> 
  <div class="container-sm global-container">
    <div class="container-content text-center">
        <div class="content-block">
    <h1 class="TITLE-global"> Entre em contato! </h1>
        </div>
    </div>
    <div class="container-content row">
        <!-- Elemento 1 -->
        <div class="content-block col-sm-4">
            <img class="img-fluid scrum-img" src="{{url_for('static', filename='img/Mobile-amico.svg')}}" alt="img">
        </div>
        <!-- Elemento 2 -->
        <div class="content-block col-sm-8">
            <div class="content d-flex justify-content-center flex-wrap">
            </div>
    <form action="submit">
    <label for="email"> Seu e-mail: </label> <br>
    <input type="TXT-global-container" name="email" id="email"> <br>
    <label for="assunto"> Assunto: </label> <br>
    <input type="TXT-global-container" name="assunto" id="assunto"><br> 
    <label for="desc"> Descrição: </label> <br>
    <textarea name="desc" id="desc" cols="25" rows="5"></textarea>    
    <div class="pg-button d-flex">
        <a class="BTN-global" button type="button" value="Enviar">Enviar</button>   </a>
    </form>
        </div>
   </section>
    <section>
      <div class="resp">
        <div class="cards d-flex">
          <div class="card col-3">
            <div class="card-body">
                <a class="links" href="https://www.instagram.com/luanaapms/"> 
                     <i class="bi bi-instagram" style="color: white;"></i></a> 
              <h5 class="card-title">Instagram</h5>
            </div>
          </div>
          <div class="card col-3">
            <div class="card-body">
                <a class="links" href="https://www.linkedin.com/in/luana-souza-b104801b2/"> 
                    <i class="bi bi-linkedin"style="color: white"></i></a>
                    <h5 class="card-title">Linkedin</h5>
            </div>
          </div>
          <div class="card col-3">
            <div class="card-body">
                <a class="links" href="https://twitter.com/luanaapms"> 
                    <i class="bi bi-file-excel-fill" style="color: white"></i></a>
                    <h5 class="card-title">X</h5>
            </div>
          </div>
        </div>
      </div>
   </section>
   
  </div>
   {% endblock %}