{% extends 'base.html' %}

{% block pageCss %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style_index.css')}}">
{% endblock %}

{% block pageTtile %} Homepage {% endblock %}

{% block pageContent %}

<section class="container-fluid carrossel">
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
              <img src="{{url_for('static', filename='img/frame1.svg')}}" class="d-block w-100"
                  alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
              <img src="{{url_for('static', filename='img/frame2.svg')}}" class="d-block w-100"
                  alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
              <img src="{{url_for('static', filename='img/frame3.svg')}}" class="d-block w-100"
                  alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
              <img src="{{url_for('static', filename='img/frame4.svg')}}" class="d-block w-100"
                  alt="...">
          </div>
      </div>
      <button class="carousel-control-prev justify-content-none" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next " type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
</section>

<div class="space"></div>

<section>
  <div class="cards d-flex">
    <div class="card col-3">
      <div class="card-body">
        <h5 class="card-title">Sobre Mim</h5>
        <p class="card-text"> Conheça minha história. O caminho percorrido até aqui.</p>
      </div>
    </div>
    <div class="card col-3">
      <div class="card-body">
        <h5 class="card-title">Trabalhos</h5>
        <p class="card-text"> Projetos e trabalhos realizados ou em andamento.</p>
      </div>
    </div>
    <div class="card col-3">
      <div class="card-body">
        <h5 class="card-title">Contato</h5>
        <p class="card-text"> Interessado no potencial? Entre em contato!</p>
      </div>
    </div>
    </div>
</section>
<section>
  <h1 class="title">Dê uma olhadinha nos meus melhores trabalhos!</h1>
  <div class="content d-flex justify-content-left sobre-scrum">
  </div>
  </section>
  <section>
    <div class="pg-button d-flex">
      <a class="btn btn-primary d-flex" href="/projetos" role="button">Meus projetos</a>
    </div> 
  </section>

{% endblock %}