{% extends 'base.html' %}

{% block pageCss %}
<link rel="stylesheet" href="{{url_for('static', filename='css/sobre.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/img.css')}}">
{% endblock %}

{% block pageTtile %} Homepage {% endblock %}

{% block pageContent %}

<div class="container-sm global-container">
    <div class="container-content text-center">
        <div class="content-block">
    <h1 class="TITLE-global"> Hello World! </h1>
        </div>
    </div>
 <section>
        <div class="container-content row">
            <!-- Elemento 1 -->
            <div class="content-block col-sm-4">
                <img class="img-fluid ft-img" src="{{url_for('static', filename='img/luana.jpeg')}}" alt="img">
            </div>

            <!-- Elemento 2 -->
            <div class="content-block col-sm-8">
                <div class="content d-flex justify-content-center flex-wrap">
                </div>
                <ul>
                    <li class="SUB-global">Luana Aparecida Moraes Souza<i class="bi bi-moon-fill"></i></li> <br>
                    <li class="TXT-global-container">   ▶ Front-End Developer </li> 
                    <li class="TXT-global-container">   ▶ Cursando Análise e Desenvolvimento de Sistemas, FATEC</li> 
                    <li class="TXT-global-container">   ▶ Formada em Técnico de Desenvolvimento de Sistemas pela ETEC </li>
            </div>
        </div>
        <hr> <br> <br>
      <div class="container-content row">
        <!-- Elemento 1 -->
        <div class="content-block col-sm-4">
            <img class="img-fluid scrum-img" src="{{url_for('static', filename='img/About me-amico.svg')}}" alt="img">
        </div>
        <!-- Elemento 2 -->
        <div class="content-block col-sm-8">
            <div class="content d-flex justify-content-center flex-wrap">
              <div class="TXT-global-container">
             <strong> • Explorando o Mundo Digital: Uma Paixão pela Programação </strong> 
             <br> <br>
             <p>Nascida e criada em São José dos Campos - SP, tenho 18 anos e estudo programação desde os 15. A programação para mim não é apenas uma habilidade técnica, mas uma forma de expressão criativa. Cada projeto é uma tela em branco, esperando para ser preenchida com soluções inovadoras e funcionais. Seja desenvolvendo aplicativos intuitivos, criando sites dinâmicos ou explorando os limites da inteligência artificial, mergulho de cabeça em cada projeto. </p>
            </div>
            </div>
        </div>
          </section>
    <section>
    <div class="flex-container">
        <div class="TXT-global-container"> <strong> • Hobbies: </strong></div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             Livros
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Apaixonada por leitura.</strong> Desde que me entendo por gente, os livros têm sido minha companhia constante e minha fonte de inspiração.  A cada livro que leio, encontro novas perspectivas, desafios e emoções que enriquecem minha vida de maneiras inimagináveis. Um dos meus livros favoritos, e que tem um lugar especial em meu coração, é "Jogos Vorazes". 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Esportes
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Adoro praticar esportes e danças.</strong> Amo a adrenalina e a competitividade dos esportes, especialmente o futsal, onde cada movimento é uma oportunidade de estratégia e trabalho em equipe. Além disso, a dança é minha forma de liberar emoções e contar histórias sem palavras. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Séries
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>SitComs são as melhores séries.</strong> A arte de contar histórias através de episódios me fascina, e cada série é como um novo universo para explorar. No entanto, minha favorita é 'Modern Family'. Essa comédia brilhantemente escrita e interpretada capta a essência do humor familiar de uma forma única. 
            </div>
          </div>
        </div>
      </div> 
    </div>
 </section>
 <section>
    <div class="flex-container">
        <div class="TXT-global-container"> <strong> • Tecnologias mais utilizadas: </strong></div>
        <div class="progress-stacked">
            <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
              <div class="progress-bar">JavaScript</div>
            </div>
            <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
              <div class="progress-bar bg-success">HTML</div>
            </div>
            <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
              <div class="progress-bar bg-info">Python</div>
            </div>
              </div>
          </div>
 </section>
</div>
{% endblock %}