@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

/* Texto */

* {
    font-family: Poppins, sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Poppins' , sans-serif;
}

.title {
    font-weight: 200;
    font-style: normal;
    font-size: 10px;
    text-align: justify;
}

nav.navbar{
    background-color: #085863;
    padding: 7px;
}
      /* Logo */
    nav.navbar a.navbar-brand > img{
        width: 95px;
        user-select: none;
    }

    /* Botões Navbar */
    nav.navbar .NAVbtn,
    nav.navbar a.nav-link{
        color: white;
        
        opacity: 100%;

        transition: opacity 200ms;
    }

        nav.navbar .NAVbtn:hover,
        nav.navbar a.nav-link:hover{
            opacity: 70%;
        }

        nav.navbar .NAVbtn:active,
        nav.navbar a.nav-link:active{
            opacity: 90%;
        }


    nav.navbar div.NAVbtn-home i.bi{
      padding: 7px;
      
      color: white;
      font-size: 1.3em;
    }

    nav.navbar .navbar-collapse{
        flex-grow: 0;
        text-align: center;
    }

    nav.navbar button.navbar-toggler i.bi{
      color: white;
      font-size: 1.8rem;
    }

        nav.navbar button.navbar-toggler:focus{
          box-shadow: none;
          border: 0;
        }

/* Responsividade */
@media(max-width: 500px){
    a.navbar-brand > img{
    width: 60px !important;
    }

    nav.navbar a.nav-link{
    font-size: .8rem;
    }
} 

/* .:: Configurações FOOTER ::. */

/* Parte de Cima do Footer */
footer#CDBfooter > div.CDBfooter-top{
    background-color: #085863;
    padding: 10px;
    
    color: white;
}
    /* Logo  */
    div.CDBfooter-top > div .CDBfooter-logo img{
        width: 100px;
        transition: opacity 200ms;
    }

    /* Slogan */
    div.CDBfooter-top > div.CDBfooter-message h5{
        font-size: 1.2rem;
        font-weight: 280;
        text-align: center;
    }
    
    /* Botão Github */
    div.CDBfooter-top > div.CDBfooter-github .bi-github{
        color: white;
        font-size: 2.5rem;

        transition: opacity 200ms;
    }

        div.CDBfooter-top > div.CDBfooter-github i.bi:hover,
        div.CDBfooter-top > div.CDBfooter-logo img:hover
        {
            opacity: 80%;
        }

/* Parte de Baixo do Footer */
#CDBfooter{
    position: absolute;
}
footer#CDBfooter > div.CDBfooter-bottom{
    background-color: black;
}

    /* Container dos Links */
    div.CDBfooter-bottom div.CDBfooter-BTcontainer{
        padding: 15px;
        gap: 10px;
    }

    /* Conteúdo da Parte de Baixo */
    div.CDBfooter-bottom div.CDBfooter-BTcontainer *{
        padding: 3px;

        display: inline;

        color: white;
        font-size: .85rem;
        font-weight: 300;
        text-decoration: none;
    }

        div.CDBfooter-bottom div.CDBfooter-BTcontainer a:hover{
            text-decoration: underline;
        }

    /* Link especial (azul) */
    div.CDBfooter-bottom div.CDBfooter-BTcontainer > div.CDBfooter-cdb a{
        color: #f3f3f3;
    }
   

/* Responsividade */
@media (max-width: 500px){

    div.CDBfooter-top > .CDBfooter-logo img{
    width: 110px;
    }

    div.CDBfooter-top > div.CDBfooter-message h5{
    font-size: .8rem;
    font-weight: 300;
    }

    div.CDBfooter-top > div.CDBfooter-github .bi-github{
    color: white;
    font-size: 1.55rem;
    }

    .CDBfooter-BTcontainer{
    padding: 10px;
    gap: 5px;
    }   

    .CDBfooter-BTcontainer > *{
    font-size: .55rem;
    font-weight: 300;
    }

    div.CDBfooter-BTcontainer a{
    padding: 1px;
    }

}
    

/* .:: Container ::. */
.container-content{
    margin: 5px auto;
}


.content-block{
    padding: 10px 15px;

    color: rgb(7, 7, 7);
}


/* .:: ELEMENTOS ::. */

.TITLE-global{
    margin: 5px 0 25px;

    font-size: 1.9rem;
    font-weight: 600;
}

.SUB-global{
    margin-bottom: 15px;
    
    font-size: 1.35rem;
    font-weight: 500;
    text-indent: 30px;
    text-align: start;
}

.TXT-global-container{
    margin-bottom: 30px;
    text-indent: 10px;
}

.TXT-global , .LIST-global li{
    margin-bottom: 7px;

    font-size: .95rem;
    font-weight: 300;
    text-align: justify;
}

@media(max-width: 600px){
    
    .TITLE-global{
        font-size: 1.6rem;
    }

    .SUB-global{
        font-size: 1.2rem;
    }

    .TXT-global , .LIST-global li{
        font-size: .85rem;
    }
}

/* Estilização dos Botões */
.BTN-global{
    background-color: #c170e7;
    width: max-content;
    margin: 5px 0;
    padding: 10px 25px;
    
    display: inline-block;

    color: white;
    font-size: .9rem;
    text-decoration: none;

    border-radius: 20px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.8);

    transition: all 100ms;
}

    .BTN-global:hover{        
        opacity: 80%;
        padding: 11px 26px;
        
        box-shadow: 0 4px 0 1px rgba(0, 0, 0, 0.8);
    }

    .BTN-global:active{        
        opacity: 95%;
    }


.BTN-global .bi{
    font-size: 1.1rem;

    color: currentColor;
}

#btn-return-trail{
    padding: 15px 25px;
}

#btn-return-trail .bi{
    font-size: .85rem;
}

    #btn-return-trail:hover{
        padding: 16px 26px;
    }

    #btn-return-trail:active{
        background-color: rgba(255, 255, 255, 0.8);

        color: #c170e7;
        font-weight: 500;
        border: 2px solid currentColor;
    }

@media(max-width: 600px) {

.BTN-global{
    margin: 3px 0;
    padding: 5px 15px;

    font-size: .7rem;

    box-shadow: 0 2px rgba(0, 0, 0, 0.8);
}

    .BTN-global:hover{        
        padding: 6px 16px;
        box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.8);
    }

.BTN-global .bi{
    font-size: .9rem;
}

#btn-return-trail{
    padding: 10px 20px;
}

#btn-return-trail .bi{
    font-size: .7rem;
}

    #btn-return-trail:hover{
        padding: 11px 21px;
    }
}