@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

*{
    font-family: Poppins, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-container {
    display: center;
  }

.ft-img {
    width: 200px;
    display: flex;
    border-radius: 30px;
}

.scrum-img {
    width: 200px;
    align-items: center;
    margin-left: auto;
}
